.card {
    position: relative;
    width: 400px;
    padding: 10px;
    max-width: 85vw;
    height: 65vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
}

.card>h3 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.swipe {
    position: absolute;
}